#capsule-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5vw;
    margin: 10px;
}
.info-userShifts-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border: 1px solid black;
    width: 25%;
}
.date-label{
    font-weight: bold;
}
.capsule-time{
    border: 1px solid black;
    padding: 7px;
    border-radius: 8px;
}
.shift-capsule-user{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link-toDetails{
    color: blue;
    text-decoration: underline;
}
.link-toDetails:hover{
    cursor: pointer;
}