#user-admin-all{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
}
#users-container{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#menu{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}