.title-shift{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#startDate,
#endDate{
    width: min-content;
    height: min-content;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0;
    padding: 6px;
}
#update-shift-content{
    border: 1px solid white;
    margin: 6px;
}
#container-maxUsers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 6px;
}
#maxUsers{
    background-color: white;
    width: 10%;
    height: min-content;
    padding: 6px;
    text-align: center;
    margin: 0;
}